[submodule "EEG-Droid"]
	path = EEG-Droid
	url = https://github.com/adrocampos/EEG-Droid
[submodule "Traumschreiber-mobileEEG"]
	path = Traumschreiber-mobileEEG
	url = https://github.com/mvidaldp/Traumschreiber-mobileEEG
[submodule "Experiments/code/pylsl-keyboard-trigger"]
	path = Experiments/code/pylsl-keyboard-trigger
	url = https://github.com/mvidaldp/pylsl-keyboard-trigger
